@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
.nav{
  background-color:#eee8dc;
}
.title{
  color:#484237;
  font-family: "Exo 2", sans-serif;
  font-weight:90px;
}