@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
.outer{
  background-color:antiquewhite;
  height:68vh;
  width:100%;
  padding:40px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
.subheading{
    color:#484237;
  font-family: "Exo 2", sans-serif;
  font-weight:90px;
  margin:30px;
}
.heading{
  color:#484237;
  font-family: "Exo 2", sans-serif;
  font-weight:90px;
  margin-bottom: 20px;;
}
.matter{
  padding-top:30px;
}
.sidepic{
  background-color:#e2cca3;
  max-width:250px;
  height:350px;
  margin-top:10px;
  padding-top:20px;
  padding-left:20px;
  border-radius:20px;
}
.sidepic h3{
  color:#484237;
  font-family: "Exo 2", sans-serif;
  font-weight:90px;
  padding-left:10px;
  text-decoration: solid underline;
}
.pic{
  max-width:350px;
  height: 350px;
  margin:20px;
}
@media (max-width: 768px){
.outer {
    flex-direction: column;
    padding: 10px;
    align-items:center;
    height: auto;
    }

    .matter {
      flex-basis:auto;
      padding-right: 0;
      margin-bottom: 20px;
      order: 0;
    }
    .sidepic {
      max-width: 50%;
      margin-top: 15px;
      padding: 15px;
      order: 2;
    }
    .subheading,
    .heading {
      text-align: center;
      margin: 10px auto;
    }
}